body {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	background: #adefd1ff;
	font-family: "Roboto", Helvetica, sans-serif;
}

#canvas {
	border: none;
	background-color: #adefd1ff;
	margin: 0;
	margin-top: 0px;
	padding: 0;
}

.title {
	/*font-family: 'Fredoka One', Arial, Helvetica, sans-serif;*/
	font-size: 3em; /*moves cursor...?*/
	font-weight: 900;
	margin-left: 100px;
	margin-top: 20px;
	position: fixed;
}
/*animation: animated-text 4s steps(29, end) 1s 1 normal both;


/*
.title {
	animation: animated-text 4s steps(29, end) 1s 1 normal both;
}

 text animation 

@keyframes animated-text {
	from {
		width: 0;
	}
	to {
		width: 200px;
	}
}*/

#colors {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
	height: 100vh;
	background: black;
}

.colour {
	display: block;
	margin: 20px auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	position: relative;
	cursor: pointer;
}

.magic {
	display: block;
	position: absolute;
	z-index: 100;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 15px;
	background-image: url("media/source.gif");
	/*background-size: contain;*/
	transform: rotateZ(45deg);
	border: none;
	outline: none;
	cursor: pointer;
}

.clear {
	display: block;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 15px;
	color: pink;
	font-size: 20px;
	font-weight: 900;
	background-color: black;
	border: none;
	outline: none;
	cursor: pointer;
}

.line_width {
	display: block;
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 15px;
	color: black;
	font-size: 25px;
	font-weight: 900;
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
}

.slidecontainer {
	position: absolute;
	display: inline-block;
	width: 70px; /* Full-width */
	height: 10px; /* Specified height */
	bottom: 60px;
	padding-left: -0;
	transform: rotate(270deg);
}

.lineSlider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	z-index: 200;
	width: 150px;
	background: white; /* Grey background */
	outline: none;
	border-radius: 20px;
	padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: gray;
	cursor: pointer;
}
