body {
	margin: 0px;
	position: relative;
	padding: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	font-family: "Roboto", Helvetica, sans-serif;
	overflow: hidden;
}

header {
	/*font-family: 'Fredoka One', Arial, Helvetica, sans-serif;*/
	position: absolute;
	top: 20px;
	left: 110px;
	z-index: 1000;
	font-size: 3em; /*moves cursor...?*/
	font-weight: 900;
	pointer-events: none;
}

main {
	position: absolute;
	width: 100%;
	height: 100%;
}

#canvas {
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	background-color: #adefd1; /* */
	margin: 0;
	margin-top: 0px;
	padding: 0;
}

.leftnav {
	z-index: 20;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
	height: 100%;
	background: black;
}

.leftnav ul {
	width: 100%;
}

.colour {
	display: block;
	margin: 20px auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	position: relative;
	cursor: pointer;
}

.extrabutton {
	display: block;
	position: absolute;
	z-index: 100;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 15px;
	border: none;
	outline: none;
	cursor: pointer;
}

.magic {
	background-image: url("media/source.gif");
	right: 0;
	bottom: 0;
}

.eraser {
	position: fixed;
	z-index: 500;
	background: black;
	color: pink;
	right: 0px;
	width: 50px;
	height: 50px;
	top: 60px;
	font-size: 30px;
	font-weight: 900;
}

.clear {
	display: block;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	color: pink;
	font-size: 20px;
	font-weight: 900;
	background-color: black;
	
}

.line_width {
	display: block;
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 15px;
	color: black;
	font-size: 25px;
	font-weight: 900;
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
}

.slidecontainer {
	position: absolute;
	display: inline-block;
	width: 70px; /* Full-width */
	height: 10px; /* Specified height */
	bottom: 50px;
	padding-left: 0;
	transform: rotate(270deg);
}

.lineSlider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	z-index: 200;
	width: 150px;
	background: white; /* Grey background */
	outline: none;
	border-radius: 20px;
	padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 0px;
	background: rgb(77, 77, 77);
	cursor: pointer;
}

